@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #000000;
    padding: 5px 0;
}

hr {
    background-color: #C78C19;
    border: 1.2px solid #C78C19;
}

.container {
    min-width: 360px;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 215px;
    right: 3%;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 0 0 20px;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    min-width: 360px;
    max-width: 960px;
    margin: 0 auto;
    padding: 50px 1px;
}

.produtos li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 auto;
    padding: 30px 0;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background-image: url(imagens-logo/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    h1 {
        text-align: center;
    }

    .produtos li {
        width: 70%;
        margin-bottom: 30px;
    }

    nav {
        position: static;
        text-align: center;
    }

    .produtos {
        display: block;
        width: 100%;
        margin-left: 0px;
    }
}